# DO NOT USE AS THIS IS HANDLED DIRECTLY BY HYPRLAND
; [Unit]
; Description=Run script as specific user upon udev event
;
; [Service]
; Type=oneshot
; User=holmes
; ExecStart=/home/holmes/.config/hypr/scripts/external_monitor_v2.sh
;
; [Install]
; WantedBy=multi-user.target
;
