[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=/usr/bin/kanata --cfg /home/holmes/.config/kanata/config.kbd
Restart=on-failure

[Install]
WantedBy=default.target

