@import "./themes/catppuccin-macchiato.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: alpha(@overlay1, 0.4);
  /* background-image: linear-gradient( */
  /*   alpha(@overlay1, 0.1), */
  /*   alpha(@overlay1, 0.2) */
  /* ); */
  /* border-bottom: 2px solid alpha(white, 0.2); */
  color: @text;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 0px;
  margin: 0px;
  background-color: alpha(@surface0, 0);
  margin-left: 4px;
}

#workspaces button {
  color: @text;
  border-radius: 0px;
  padding: 2px 0px 2px 6px;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0px;
}

#workspaces button:hover {
  color: @red;
  background-color: transparent;
  border-radius: 0px;
}

#clock {
  margin: 0px 12px 0px 6px;
}
#window,
#battery,
#custom-music,
#backlight,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: transparent;
  padding: 0px 6px 0px 6px;
  margin: 2px 6px;
  min-width: 8px;
}
#tray {
  margin: 0px 20px;
}

#battery.charging {
  color: @text;
  background-color: alpha(green, 0.65);
  border-radius: 6px;
}

#battery.warning:not(.charging) {
  color: @red;
  background-color: alpha(@red, 0.6);
  border-radius: 10px;
}

#custom-music {
  color: @text;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @text;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}
